@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

h1,
h2,
h3,
h4,
h5,
#text-title pre {
  font-weight: 900;
  word-wrap: break-word;
  line-height: 1.3em;
}

h1,
#text-title pre,
#text-title textarea {
  font-weight: 900;
  font-size: 35px;
}

p {
  color: #555;
}

.gist {
  width: 100% !important;
}
.gist-file .gist-data {
  max-height: 500px;
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
  font-size: 55px;
  color: #757575;
  text-align: center;
  margin-bottom: 15px;
}

/* Titles of categories */
h2 {
  color: #397249;
}
/* There is a bar just before each category */
h2:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 10px;
  background-color: #9cb770;
}
h3 {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 7px;
}

/* Blockquotes */
blockquote {
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
}

hr {
  color: #a6a6a6;
}

table {
  width: 100%;
  border-top: solid;
  border-bottom: solid;
  border-color: #999999;
}

.strong {
  font-weight: bold;
}

.list-of-projects li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.list-of-projects li p:last-child {
  margin-left: 20px;
}

ul {
  list-style-type: disc;
}

.portfolio-container img {
        width: auto;
        height: 300px;
}
.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 5px solid cadetblue;
    border-bottom: 5px solid cadetblue;
    padding: 5px;
}

.portfolio-container div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.portfolio-container div span {
    font-family: 'Potta One', cursive;
    margin: 10px;
}

.footer-container{
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eee; 
}
.footer-copyright {
  height: 100%; 
  text-align: center;
  color: #777;
}

.footer-container div:first-child {
  margin-left: 25px;
}

.footer-container div:last-child {
  margin-right: 25px;
}

.github-logo {
  background: url('./assets/github.png');
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  transition: 0.2s;
}

.github-logo:hover{
  background: url('./assets/github-hover.png');
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  transition: 0.2s;
}
.rss-logo{
  background: url(./assets/rs_school_js.svg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
